

.mySelect {
	margin-left: 10px;
    margin-right: 10px;
	width: 150px;
}

.natural {
	border: solid 3px transparent;

  }
	
.false {
	border: solid 3px red;
  }
  
.true {
	border: solid 3px green;
  }

.current {
  margin-left: 76px;
  margin-bottom: 2px;
  width: 10px;
  border-radius: 100%;
  border: solid 5px;
  position: relative;
}
